/META-INF/
/battle_analyzer.properties
/battle_analyzer_de.properties
/battle_analyzer_fr.properties
/buildings.properties
/buildings_de.properties
/buildings_fr.properties
/chassis.properties
/chassis_de.properties
/chassis_fr.properties
/chassis_name.properties
/chassis_name_de.properties
/chassis_name_fr.properties
/components.properties
/components_de.properties
/components_fr.properties
/components_name.properties
/components_name_de.properties
/components_name_fr.properties
/components_troop_name.properties
/components_troop_name_de.properties
/components_troop_name_fr.properties
/contacts.properties
/contacts_de.properties
/contacts_fr.properties
/donation.properties
/donation_de.properties
/donation_fr.properties
/footer.properties
/footer_de.properties
/footer_fr.properties
/home.properties
/home_de.properties
/home_fr.properties
/ikopit/
/js.properties
/js_de.properties
/js_fr.properties
/log4j.properties
/navbar.properties
/navbar_de.properties
/navbar_fr.properties
/planet_finder.properties
/planet_finder_de.properties
/planet_finder_fr.properties
/research_time.properties
/research_time_de.properties
/research_time_fr.properties
/route_planner.properties
/route_planner_de.properties
/route_planner_fr.properties
/settings.properties
/settings_de.properties
/settings_fr.properties
/ship_builder.properties
/ship_builder_de.properties
/ship_builder_fr.properties
/techtree.properties
/techtree_de.properties
/techtree_fr.properties
/troop_battle_analyzer.properties
/troop_battle_analyzer_de.properties
/troop_battle_analyzer_fr.properties
/troop_builder.properties
/troop_builder_de.properties
/troop_builder_fr.properties
/troop_name.properties
/troop_name_de.properties
/troop_name_fr.properties
/troops.properties
/troops_components.properties
/troops_components_de.properties
/troops_components_fr.properties
/troops_de.properties
/troops_fr.properties
/wlrce.properties
/wlrce_de.properties
/wlrce_fr.properties
